.sec{
    background-color: rgb(218, 0, 0);
}
.pov{
    background-color: rgb(201, 0, 0);
}
.ba{
    background-color: rgb(229, 255, 0);
}
.be{
    background-color: rgb(238, 255, 0);
}
.br{
    background-color: rgb(201, 0, 0);
}

.bt{
    background-color: rgb(255, 238, 0);
}
.bb{
    background-color: rgb(214, 0, 0);
}